.navigation-bar {
    

    &__wrap  {
        display: flex;
    }

    &__wrap > * {
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 2rem 0;
    }

    &__left {
        justify-content: flex-start;

        p {
            font-size: 1.5rem;

            span {
                font-weight: 500;
            }
        }
    }

    &__right {
        justify-content: flex-end;

        p {
            font-size: 1.5rem;

            span {
                font-weight: 500;
            }
        }
    }

}